body {
    line-height: 18px;
    background-color: #FFFFFF;
    color: rgb(0, 67, 120); /* default font colour */
    min-width: 960px
}

.logo /* brand logo (make sure you set the width and height too) */
{
    background-image: url(suwinet_inkijk_logo_trans.png);
    width: 400px;
    height: 120px;
    background-repeat: no-repeat;
    display: block;
    margin: 30px 0px 25px;
}

.bkwilogo {
    float: right;
}

.bkwilogoposition {
    margin-left: 610px;
    margin-top: 10px;
}

.box /* the main content box */
{
    background-color: #FFFFFF; /* solid colour alternative for browsers that do not support gradients */
}

.container_12 {
    margin-left: auto;
    margin-right: auto;
    width: 960px
}

.grid_3, .grid_4, .grid_9 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px
}

.container_12 .grid_4 {
    width: 300px
}

.container_12 .suffix_8 {
    padding-right: 640px
}

.container_12:before, .container_12:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0
}

.container_12:after {
    clear: both
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clear-float:before, .clear-float:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clear-float:after {
    clear: both;
}

/* type */
body {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    line-height: 14px;
    background-repeat: repeat-x;
}

h3, h3 a {
    font-size: 15px;
    line-height: 15px;
}

a {
    text-decoration: underline;
    color: rgb(0, 67, 120);
}

.product-logo {
    background-repeat: no-repeat;
    display: block;
    height: 88px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.box {
    clear: both;
    padding: 40px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /*    -webkit-box-shadow: 3px 3px 5px #333333;
        -moz-box-shadow: 3px 3px 5px #333333;
        box-shadow: 3px 3px 5px #333333; */
    border: 5px solid rgb(191, 191, 191);
    /* behavior: url(/am/PIE.htc); */
}

.message {
    padding: 10px 10px 10px 40px;
    margin-bottom: 10px;
    line-height: 20px;
    font-weight: bold;
}

.message .icon {
    margin-left: -30px;
}

.icon {
    width: 20px;
    height: 20px;
    display: block;
    float: left;
}

.info {
    background: url(../images/icons.png) no-repeat -25px 0;
}
